.schedule-container {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th,
    td {
      height: 50px;
      border: 1px solid #ccc;
      text-align: center;
      padding: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    td.selected {
      color: #fff;
    }

    td:not(.selected):hover {
      background-color: #f0f0f0;
    }

    .readonly {
      cursor: not-allowed;
    }

    td.highlighted {
      border: yellow 2px dashed;
    }
  }
}
