.schedule-container {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead th {
      position: sticky;
      top: 0;
      background-color: #fff;
      color: #000;
      z-index: 10;
    }

    th,
    td {
      border: 1px solid #ccc;
      text-align: center;
      padding: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .period-separator {
      td {
        border-bottom: 3px dashed #fff;
      }
    }

    .time-column {
      width: 100px;
      color: white;
    }

    .time-header {
      width: 100px;
    }

    .upper-time {
      font-weight: bold;
    }

    .lower-time {
      font-style: italic;
    }

    td.selected {
      color: #fff;
    }

    tbody tr td:not(:first-child):not(.selected):hover {
      background-color: #f0f0f0;
    }

    .readonly {
      cursor: not-allowed;
    }

    td.highlighted {
      border: 2px dashed yellow;
    }
  }
}

.scrollable-container {
  height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
}
