<div class="schedule-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let day of days">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of slots; let i = index">
        <td
          *ngFor="let column of row; let j = index"
          [class.selected]="isSelected(i, j)"
          [class.highlighted]="isSelected(i, j) && !isReadonly(i, j)"
          [style.background-color]="column.color"
          (click)="toggleSelection(i, j)"
        >
          {{ column.activity }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
