<mat-toolbar>
  <img src="logo.png" class="logo-image" (click)="navigateToHome()" />
  <span>PID</span>
  <span class="spacer"></span>

  <button mat-raised-button *ngIf="userIsAdmin" (click)="navigateToAdminArea()">
    <mat-icon>admin_panel_settings</mat-icon> Área Administrativa
  </button>

  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="m-2">
  <router-outlet />
</div>
