<h2 mat-dialog-title>Adicionar Atividade</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-form-field">
        <mat-label>Tipo</mat-label>
        <mat-select>
          @for (activityType of activityTypes; track activityType) {
          <mat-option [value]="activityType.id">{{
            activityType.description
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-8">
      <mat-form-field class="mat-form-field">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Ex. Algoritmos I" />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
