<h2 mat-dialog-title>
  {{ data?.updating ? "Editar" : "Adicionar" }} Atividade
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-form-field">
        <mat-label>Tipo</mat-label>
        <mat-select [(ngModel)]="activityTypeId">
          @for (activityType of activityTypes; track activityType) {
          <mat-option [value]="activityType.id">{{
            activityType.description
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-8">
      <mat-form-field class="mat-form-field">
        <mat-label>Descrição</mat-label>
        <input
          matInput
          placeholder="Ex. Algoritmos I"
          [(ngModel)]="description"
          (keyup)="descriptionChanged()"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <app-workload-allocation
      #workloadAllocation
      [planActivityTable]="data"
    ></app-workload-allocation>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close(false)">Fechar</button>
  <button mat-button cdkFocusInitial (click)="close(true)">Salvar</button>
</mat-dialog-actions>
