<div class="mat-elevation-z8 m-3">
  <table mat-table class="mat-table" [dataSource]="plans">
    <ng-container matColumnDef="period">
      <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Período</th>
      <td mat-cell class="mat-cell" *matCellDef="let row">
        {{ row.period }}
      </td>
    </ng-container>

    <ng-container matColumnDef="situation">
      <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>
        Situação
      </th>
      <td mat-cell class="mat-cell" *matCellDef="let row">
        {{ getSituation(row.situation) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Ações</th>
      <td mat-cell class="mat-cell" *matCellDef="let row">
        <button
          mat-button
          *ngIf="planIsApproved(row)"
          (click)="updatePlan(row.id)"
        >
          <mat-icon>visibility</mat-icon>Visualizar
        </button>
        <button
          mat-button
          *ngIf="!planIsApproved(row)"
          (click)="updatePlan(row.id)"
        >
          <mat-icon>edit</mat-icon>Editar
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      class="mat-row"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>

    <tr *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum registro encontrado</td>
    </tr>
  </table>
</div>
