.title {
  margin-bottom: 25px;
}

.mat-form-field {
  width: 100%;
}

.schedule-container {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead th {
      position: sticky;
      top: 0;
      background-color: #333;
      color: #fff;
      z-index: 10;
    }

    th,
    td {
      border: 1px solid #333;
      text-align: center;
      padding: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .period-separator {
      td {
        border-bottom: 3px solid #333;
      }
    }

    .time-column {
      width: 100px;
    }

    .time-header {
      width: 100px;
    }

    .upper-time,
    .activity-username {
      font-weight: bold;
    }

    .lower-time,
    .activity-description {
      font-style: italic;
    }

    .activity-info {
      margin: 7px 0;
    }
  }
}
