<mat-accordion>
  <mat-expansion-panel [expanded]="expandedByDefault" (opened)="loadData()">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ period?.description }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="periodPlans.length > 0">
      <div class="actions-container">
        <button mat-raised-button (click)="openAggregatedPlans()">
          <mat-icon>summarize</mat-icon>Agregado
        </button>
      </div>

      <div class="mat-elevation-z8">
        <table mat-table class="mat-table" [dataSource]="periodPlans">
          <ng-container matColumnDef="userName">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>
              Docente
            </th>
            <td mat-cell class="mat-cell" *matCellDef="let row">
              {{ row.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>
              Ações
            </th>
            <td mat-cell class="mat-cell" *matCellDef="let row">
              <button mat-icon-button (click)="openPlan(row)">
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            class="mat-header-row"
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <tr
            mat-row
            class="mat-row"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>

          <tr *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum registro encontrado</td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="periodPlans.length <= 0">
      <p>Nenhum plano homologado até o momento para exibir</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
